.controlbar {
  position: sticky;
  top: 50px;
  overflow: hidden;
  background: white;
  z-index: 3;
  list-style: none;
  padding: 0 10px;
  background-color: #aaa;
}

.controlbar input[type="text"] {
  width: 20vw;
}

@media (max-width: 380px) {
  .hide-small {
    display: none;
  }
}
